.custom-tooltip{
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.custom-tooltip p{
  margin: 0;
  padding: 2px 0;
}