@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopping .lenis-scroller {
  -webkit-overflow-scrolling: touch;
}

.lenis.lenis-scroller {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.lenis-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.f-carousel {
  display: flex;
  flex-direction: column-reverse;
}

.f-carousel__nav {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}

.f-carousel__button.is-prev,
.f-carousel__button.is-next {
  position: unset;
  transform: unset;
  margin: 0 12px;
}
