@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopping .lenis-scroller {
  -webkit-overflow-scrolling: touch;
}

.lenis.lenis-scroller {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.lenis-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
