---
import Gallery from "../components/gallery.astro";
import Musicstats from "../components/musicstats.astro";
import Navbar from "../components/navbar.astro";
import SubLayout from "../layouts/SubLayout.astro";
import '../styles/global.css';
---
<SubLayout title="Nikshaan | Portfolio - non-tech" description="Music habbits and photography gallery of Nikshaan.">
    <section class="min-h-[100svh] text-white w-full max-w-[100rem] lg:max-w-[65rem] flex-1 mx-auto px-4 sm:px-6 lg:px-2 pb-16 ">
        <div class="w-full flex flex-col justify-start items-start">
        <p class="text-lg sm:text-xl font-medium mb-4">NON TECH</p>
        <div class="min-h-[50vh] w-full">
            <p class="text-base sm:text-lg font-thin mb-4">MUSIC</p>
            <Musicstats />
        </div>
        <div class="min-h-[50vh] w-full mt-10 sm:mt-16 lg:mt-20 pb-8">
            <p class="text-base sm:text-lg font-thin mb-4">GALLERY</p>
            <Gallery />
        </div>
        </div>
    </section>
</SubLayout>
