---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css';
import NavbarWrapper from '../components/NavbarWrapper.astro';
import Intro from '../components/intro.astro';
import Education from '../components/education.astro';
import Extracurr from '../components/extracurr.astro';
import Location from '../components/location.astro';
import Experience from '../components/experience.astro';
import Projects from './projects.astro';
import Fun from './fun.astro';
---

<MainLayout title='Nikshaan | Portfolio' description='I am a developer based in Mumbai, India. I am passionate about machine learning, deep learning and web development. This portfolio is made using astro and has a bento box style.'>
	<NavbarWrapper />
  <main class="bg-black -mt-12 text-neutral-50 min-h-[100svh] w-full flex items-center flex-col">
    <div class="grid-bg w-full flex flex-col justify-center items-center">
    <section id="me" class="h-full p-2 pt-16 flex flex-col lg:flex-row gap-2 flex-1" data-section="me">
      <div class="flex flex-col gap-2 h-full">
        <Intro />
        <Experience />
      </div>
      <div class="flex flex-col gap-2 h-full">
        <div class="flex flex-col gap-2 lg:flex-row">
            <Location />
        </div>
        <Education />
        <Extracurr />
      </div>
    </section>
    <section id="projects" class="w-full p-2 pb-16 flex flex-col lg:flex-row gap-2 flex-1" data-section="projects">
      <div class="flex flex-col gap-2 h-full w-full">
        <Projects />
      </div>
    </section>
    <section id="fun" class="w-full p-2 pb-16 flex flex-col lg:flex-row gap-2 flex-1" data-section="fun">
      <div class="flex flex-col gap-2 h-full w-full">
        <Fun />
      </div>
    </section>
    </div>
	</main>
</MainLayout>

<style>
.grid-bg {
  position: relative;
  background-color: #111111; 
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3),  rgb(0, 0, 0) 80%),
    repeating-linear-gradient(
      to right,
      rgba(255,255,255,0.3) 0px,
      rgba(255,255,255,0.3) 1px,
      transparent 1px,
      transparent 80px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.3) 0px,
      rgba(255,255,255,0.3) 1px,
      transparent 1px,
      transparent 80px
    );
  background-size: auto, 80px 100%, 100% 80px;
  background-position: top left, top left, top left;
  background-repeat: no-repeat, repeat, repeat;
  -webkit-mask-image: linear-gradient(to bottom, rgba(17,17,17,1), rgba(17,17,17,1) 60%);
  mask-image: linear-gradient(to bottom, rgba(17,17,17,1), rgba(17,17,17,1) 60%);
  transition: background-color 0.3s ease;
}

/* Light mode grid background */
[data-theme="light"] .grid-bg {
  background-color: #ffffff;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(255, 255, 255) 80%),
    repeating-linear-gradient(
      to right,
      rgba(0,0,0,0.2) 0px,
      rgba(0,0,0,0.2) 1px,
      transparent 1px,
      transparent 80px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.2) 0px,
      rgba(0,0,0,0.2) 1px,
      transparent 1px,
      transparent 80px
    );
  -webkit-mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1) 60%);
  mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1) 60%);
}
</style>
