---
import Gallery from "../components/gallery.astro";
import Musicstats from "../components/musicstats.astro";
import Navbar from "../components/navbar.astro";
import SubLayout from "../layouts/SubLayout.astro";
import '../styles/global.css';
---
<SubLayout title="Nikshaan | Portfolio - non-tech" description="Music habbits and photography gallery of Nikshaan.">
    <Navbar />
    <section class="min-h-[100svh] pt-1 text-white lg:w-[65rem] flex-1 m-auto mt-5">
        <div class="min-w-[80svh] flex flex-col justify-start items-start">
        <p class="text-xl pl-4 text-left font-medium">NON TECH</p>
        <div class="min-h-[50svh] lg:w-[65rem]">
            <p class="pl-4 my-4 font-thin">MUSIC</p>
            <Musicstats />
        </div>
        <div class="min-h-[100svh] overflow-hidden lg:w-[65rem] mt-10">
            <p class="pl-4 my-4 font-thin">GALLERY</p>
            <Gallery />
        </div>
        </div>
    </section>
</SubLayout>
