---
import Content from './content.astro';

interface Props {
    height?: string;
    width?: string;
    body?: string;
    title?: string;
    class?: string;
}

const { height, width, body, title } = Astro.props;
---

<div class={`bg-neutral-50 dark:bg-[#171717] group shadow-sm rounded-3xl border border-white dark:border-white/20 flex flex-col p-6 transition-all duration-300 ease-in-out h-full w-full ${Astro.props.class || ''}`}>
<style>
  [data-theme="light"] .group {
    background-color: #dbeafe !important;
    border-color: #93c5fd !important;
  }
</style>
    {
        <Content body = {body} title = {title}>
            <slot />
        </Content>
    }
</div>