---
import Image from "astro/components/Image.astro";
import collegeLogo from "../data/djsce-logo.webp";
import Card from "./card.astro";
---

<Card height="h-[11rem]" width="w-[31rem]" title="education">
    <div class="flex">
        <div class="w-[20%] flex justify-center items-center">
            <Image src={collegeLogo} alt="djsce-logo" class="select-none transition-all transform duration-200" loading="eager" />
        </div>
        <div class="text-right font-light w-[80%]">
            <p class="font-medium">Dwarkadas J. Sanghvi College of Engineering</p>
            <p class="italic text-sm">Bachelor of technology in <br>
            Artificial Intelligence and Machine Learning, <br>
            Honours in AI in Finance</p>
            <p class="italic text-sm">2024 - 2028</p>
        </div>
    </div>
</div>