---
import { Image } from "astro:assets";
import aryaLogo from "../data/arya.avif";
import codeAIlogo from "../data/codeai.avif";
import Card from "./card.astro";
---

<Card height="h-[17.5rem]" width="w-[31rem] lg:w-[31rem]" title="extra curricular">
    <div class="flex flex-col gap-8">
        <div class="flex">
            <div class="w-[20%] flex justify-center items-center">
                <Image src = {aryaLogo} alt = "arya-logo" class="select-none transition-all transform duration-200" width={70} loading="eager"  />
            </div>
            <div class="w-[80%] flex flex-col items-end text-right">
                <p class="font-medium">DJS ARYA</p>
                <p class="text-sm font-light italic">Canister satellite team of DJSCOE</p>
                <p class="text-sm font-light">Software Team Member</p>
                <p class="text-sm font-light italic">march 2025 - present</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-[20%] flex justify-center items-center">
                <Image src = {codeAIlogo} alt = "codeai-logo" class="select-none transition-all transform duration-200 rounded-full" width={70} loading="eager"  />
            </div>
            <div class="w-[80%] flex flex-col items-end text-right">
                <p class="font-medium">DJS CodeAI</p>
                <p class="text-sm font-light italic">AI/ML club of DJSCOE</p>
                <p class="text-sm font-light">AI mentee</p>
                <p class="text-sm font-light italic">august 2025 - present</p>
            </div>
        </div>
    </div>
</div>