---
import { Image } from "astro:assets";
import beeImage from '../data/bee.webp';
import Card from './card.astro';
---

<Card height='h-[15rem]' width='w-[31rem]'>
    <div class="flex">
        <div class="flex flex-col gap-2 w-[60%]">
            <div class="font-light">
            <p>
                Hi, I'm <span class="font-medium text-lg">Nikshaan Shetty</span>, a 19 years old AI/ML student.
            </p>
            <p class="mt-2">My interest lies in:</p>
            <ul class="list-disc list-inside">
                <li>Machine & Deep Learning</li>
                <li>Web development</li>
                <li>Music</li>
                <li>Photography</li>
            </ul>
            </div>
        </div>
        <div class="flex justify-center items-center w-[50%]">
            <Image src={beeImage} alt="killer bee art" class="w-auto border rounded-full max-h-[300px] select-none" height="300" width="300" loading="eager" />
        </div>
    </div>
</Card>