---
import Card from "./card.astro";
import { Icon } from 'astro-icon/components';
import Clock from "./clock";
import { LINK } from "../lib/constants";
---

<Card height="h-[12rem]" width="w-[31rem] lg:w-[16rem]">
    <div class="flex justify-center items-center">
        <Icon name="Pin" class="w-[30px] h-[30px] mb-1 select-none transition-all transform duration-200" /> 
        <p class="text-xl font-medium mr-3">Mumbai, India</p>
    </div>
    <div class="flex justify-center items-center">
        <Clock client:only />
    </div>
    <div class="flex justify-center items-center gap-2.5">
        <a aria-label="link to nikshaan's github" data-tooltip-placement="bottom" href={LINK.github} title="Github">
            <Icon title="Github" name="Github" class="w-10 h-10 cursor-pointer select-none transition-all transform duration-200 hover:scale-90" />
        </a>
        <a aria-label="link to nikshaan's linkedIn" data-tooltip-placement="bottom" href={LINK.linkedlin} title="LinkedIn">
            <Icon title="LinkedIn" name="LinkedIN" class="w-10 h-10 cursor-pointer select-none transition-all transform duration-200 hover:scale-90" />
        </a>
        <a aria-label="nikshaan's email address" data-tooltip-placement="bottom" href={LINK.email} title="Gmail">
            <Icon title="Gmail" name="Gmail" class="w-10 h-10 cursor-pointer select-none transition-all transform duration-200 hover:scale-90" />
        </a>
        </div>
</Card>