---

---

<div class="bg-[#111111] mt-2 h-12 w-[350px] border border-slate-300 rounded-2xl flex justify-around items-center text-lg">
    <a href="#home" class="cursor-pointer text-cyan-300">
        /me
    </a>
    <a href="#projects" class="cursor-pointer">
        /projects
    </a>
    <a href="#non_tech" class="cursor-pointer">
        /non-tech
    </a>
</div>