---

---

<div class="h-12 w-[400px] border-2 border-white rounded-2xl flex justify-around items-center text-lg">
    <p class="cursor-pointer">
        /me
    </p>
    <p class="cursor-pointer">
        /projects
    </p>
    <p class="cursor-pointer">
        /non-tech
    </p>
</div>