---
const { pathname } = Astro.url;
---

<div id="navbar" class="bg-[#111111]/50 text-white z-50 sticky left-1/2 transform -translate-x-1/2 top-2 mt-2 h-10 w-[350px] border border-slate-300 rounded-lg flex justify-around items-center transition-all duration-200 nav-links">
    <a class:list={{ active: pathname === '/' }} aria-label="navigation to home section" href="/" class="cursor-pointer">
        me
    </a>
    <a class:list={{ active: pathname === '/projects' }} aria-label="navigation to projects section" href="/projects" class="cursor-pointer">
        projects
    </a>
    <a class:list={{ active: pathname === '/non-tech' }} aria-label="navigation to non-tech section" href="/non-tech" class="cursor-pointer">
        non-tech
    </a>
</div>

<style>
  .nav-links a.active {
    color: #622f8e;
  }
</style>

<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('navbar');

    const navbarHeight = navbar.offsetHeight;

    window.addEventListener('scroll', function(){
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if(navbar && scrollTop > lastScrollTop && scrollTop > navbarHeight){
            navbar.style.top = `-${navbarHeight}px`;
        } else if(navbar){
            navbar.style.top = '0.5rem';
        }
        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
</script>
