---

---

<div class="bg-[#171717] mt-2 h-10 w-[350px] border border-slate-300 rounded-2xl flex justify-around items-center">
    <a href="#home" class="cursor-pointer text-purple-500">
        me
    </a>
    <a href="#projects" class="cursor-pointer">
        projects
    </a>
    <a href="#non_tech" class="cursor-pointer">
        non-tech
    </a>
</div>