---
interface Props {
    name?: string,
    techstack?: string[],
    summary?: string,
    github?: string,
    live?: string; 
}

const { name, techstack, summary, github, live } = Astro.props;
---

<div class="flex justify-between w-[62rem] border-b  p-1 py-4">
    <div class="flex flex-col">
        <p class="text-lg font-medium">{name}</p>
        <p class="text-sm font-light">{summary}</p>
        <p class="text-sm font-light italic my-2">tech stack</p>
    </div>
    <div class="flex flex-col gap-1">
        <a class="cursor-pointer underline underline-offset-2" href={live}>live</a>
        <p class="cursor-pointer underline underline-offset-2">Why this?</p>
        <a class="cursor-pointer underline underline-offset-2" href={github}>github</a>
    </div>
</div>