---
import Card from "./card.astro";
import trophy from "../data/trophy.png";
import { Image } from "astro:assets";
---

<Card height="h-[6rem]" width="w-[31rem] lg:w-[6.5rem]">
    <div class="flex justify-center items-center w-full h-full">
        <Image src={trophy} alt="win-icon" class="select-none w-full h-full object-cover cursor-pointer" loading="eager" />
    </div>
</Card>